
.about {
    margin-left: 5%;
    max-width: 90%;
}

.about.tagline {
    text-align: center;
}

.about img {
  max-height: 350px;
}

div.about figure {
  text-align: center;
}

ul.experience li {
    text-align: left;
    margin-left: 5%;
}

ul.skills li {
    text-align: left;
    margin-left: 5%;
}

ul.repos li {
    text-align: left;
}
.github-data {
    margin-left: 5%;
}
@media only screen and (min-width: 780px) {
    .about img {
        max-height: 350px;
    }
    .about-image {
        float: left;
        max-width: 375px;
        margin-top: 0;
    }
    .tab-content h4 {
        border-bottom: 1px solid black;
        margin-bottom: 1em;
    }
    p.about {
      margin: 0;
    }
}
