nav li > a{
    color: black;
}

.top {
  background-color: #FE7214;
}
.hidden {
    display: none;
}

.project-body {
    margin-left: 6%;
    max-width: 90%;
}

.byline {
    margin-left: 5%;
    font-size: .6em;
    margin-bottom: 1em;
}

.project-image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.project-video {}

.project-image-title {
    text-align: center;
    font-size: ..9em;
    text-transform: lowercase;
    font-variant: small-caps;
}

.about {
    margin-left: 5%;
    max-width: 90%;
}

.about.tagline {
    text-align: center;
}

.about img {
  max-height: 350px;
}

div.about figure {
  text-align: center;
}

.heading-group-h1 {
    float: left;
    display: inline;
    width: 100%;
}

h1 {
    padding: 0;
    margin: 0px auto;
    text-align: center;
    color: white;
}

h2 {
    font-size: .8em;
    text-align: center;
    display: block;
    padding: .1em;
    margin: 0px auto;
    color: white;
}

h4,
h5 {
    margin-bottom: .1em;
    margin-left: 5%;
}

h5 {
    font-size: 1.2em;
    border-bottom: 1px solid dark-gray;
    max-width: 90%;
}

ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: .4em;
    font-size: 1.5em;
    border: 1px solid black;
    padding: .2em;
    margin: .2em;
    min-width: 20%;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
}


.skills li {
    text-align: left;
    margin-left: 5%;
}

.experience li {
    text-align: left;
    margin-left: 5%;
}

.template {
    display: none;
}

@media only screen and (max-width: 365px) {
  nav li {
    display: inline-block;
    font-size: 1.5em;
    border: 1px solid black;
    padding: .2em;
    margin: .2em;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
  }
  p {
    font-size: .8em;
  }
  figcaption  {
    font-size: .7em;
  }
}

@media only screen and (min-width: 780px) {
    #projects article {
        width: 40%;
        display: inline;
    }
    #projects article.template {
        display: none;
    }
    .top {
        margin: 0 auto;
        width: 100%;
        margin: 0 auto;
        text-align: left;
        border-bottom: 1px solid black;
        clear: both;
        display: table;
    }
    .logo {
        margin-left: 5%;
        width: 30%;
        text-align: left;
        display: inline-block;
    }
    nav {
        width: 60%;
        clear: both;
        float: right;
        border-right: 0;
    }
    h1 {
        text-align: left;
    }
    h2 {
        text-align: left;
    }
    nav li {
        display: inline-block;
        text-align: center;
        line-height: 1.5em;
        margin-right: .4em;
        font-size: 1.2em;
        border: 1px solid black;
        padding: .1em;
        margin: .1em;
        width: 5em;
        text-transform: lowercase;
        font-variant: small-caps;
        font-weight: bold;
        border-radius: .1em;
    }
    ul {
        padding-right: 5%;
        list-style: none;
        text-align: right;
    }
    .about img {
        max-height: 350px;
    }
    .about-image {
        float: left;
        max-width: 375px;
        margin-top: 0;
    }
    .tab-content h4 {
        border-bottom: 1px solid black;
        margin-bottom: 1em;
    }
    p.about {
      margin: 0;
    }
    #category-filter {
      width: 20%;
      display: inline;
    }
    #filters {
      width: 30%;
    }
    div#filters {
      display: inline-block;
    }
}
