.hidden {
  display: none;
}
.project-body {
  margin-left: 6%;
  max-width: 90%;
}

.byline {
  margin-left: 5%;
  font-size: .6em;
  margin-bottom: 1em;

}
.project-image {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.project-image-title {
  text-align: center;
  font-size: ..9em;
  text-transform: lowercase;
  font-variant: small-caps;
}
.about {
  margin-left: 5%;
  max-width: 90%;
}

.about.tagline {
  text-align: center;
}
.about img {
}
.heading-group-h1 {
  float: left;
 
  display: inline;
  width: 100%;
}
h1 {
  padding: 0;
  margin: 0px auto;
  text-align: center;
}
h2 {
  font-size: .8em;
  text-align: center;
  display: block;
  padding: .1em;
  margin: 0px auto;
}


h4, h5{
  margin-bottom: .1em;
  margin-left: 5%;
}
h5 {
  font-size: 1.2em;
  border-bottom: 1px solid darkgray;
  max-width: 90%;
}

ul {
  padding: 0;
  list-style: none;

  text-align: center;
}


nav li {
  display: inline-block;
  margin-right: .4em;
  font-size: .8em;
  border: 1px solid black;
  padding: .1em;
  margin: .1em;
  width: 16%;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
}

hr {
  width: 90%;
  margin: 0px auto;
}

.skills li {
  text-align: left;
  margin-left: 5%;
}
.experience li {
  text-align: left;
  margin-left: 5%;
}

.template {
  display: none;
}
